{% extends './base.html' %}
{% block content %}
{% load static %}
<center>
	<div class="row" style="color: black;">
	    <div class="col col-lg-2">
	    	<img class="border border-primary" src="{% static 'img/eu.jpg' %}" width="180px" height="200px" style="border: 2px;">
	    </div>
	    <div class="col-sm-6 col-md-8">
	    	<h1>Jeremias Oliveira da Silva</h1>
	    	<br>
	    	<p>Desenvolvi este site para teste na empresa Pickcells, foi feito com muito esforço e amor.</p>
	    	<p>Programação é minha paixão e adorei aprender desenvolvendo este site.</p>
	    	<br>
	      	<p>Caso queira o link para a documentação da aplicação <a  target="_blank" href="https://github.com/Jeremias333/imgpercent-teste-pickcells">CLIQUE AQUI.</a></p>
		</div>
	    <div class="row">
    		<div class="col-1 col-sm-4">
    			<a  target="_blank" href="https://github.com/Jeremias333/" class="btn btn-primary custom-btn" style="background-color: #DDA0DD;"><span class="fab fa-github"></span></a>
    		</div>
    		<br>
    		<div class="col-2 col-sm-4">
    			<a  target="_blank" href="https://linkedin.com/in/jeremias-oliveira" class="btn btn-primary custom-btn" style="background-color: #DDA0DD;" style="width: 80px; height: 60px;"><span class="fab fa-linkedin"></span></a>
    		</div>
    	</div>
  	</div>
</center>
{% endblock %}