{% extends './base.html' %}
{% block content %}
	<script type="text/javascript">
		function showLoad() {
			//body = document.body
			div = document.getElementById('load')
			img = document.createElement("img");
			img.src = "https://soudocampo.com.br/iconesClima/44.gif";
			img.style.width = "30px"
			img.style.height = "30px"
			img.style.float = "center"
			div.appendChild(img)
			div.style.visibility = "visible"
		}
	</script>
	<div id="load" style="visibility: hidden;" align="center">Carregando...</div>
	<center>
		<form enctype="multipart/form-data" method="POST">
			{% csrf_token %}
			<input type="file" name="myFile" accept="image/*" /><br>
			<input type="submit" name="" value="Enviar">
		</form>
	</center>
{% endblock %}